apiVersion : apps/v1
kind: Deployment
metadata:
  name: aksdemotest 
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aksdemotest
  template:
    metadata:
      labels:
        app: aksdemotest 
    spec:
      containers:
        - name: aksdemotest 
          image: terraformtestacr.azurecr.io/aksdemotest
          ports:
          - containerPort: 8080
          resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "500Mi"
            cpu: "200m"         